/* Site wide */

body {
    margin: 0;
    color: #012b30 !important;
    position: relative;
    min-height: 100vh;
}

@font-face {
    font-family: 'SharpSansNo1-Bold';
    src: url('assets/fonts/SharpSansNo1-Bold.otf') format('opentype'),
         url('assets/fonts/SharpSansNo1-Bold.ttf') format('ttf')
}

@font-face {
    font-family: 'ProximaNova';
    src: url('assets/fonts/ProximaNovaFont.otf') format('opentype')
}

h1, h2, h3, h4, h5, h6 {font-family: 'SharpSansNo1-Bold'}
p {font-family: 'ProximaNova';}

.header {
    background-color: #012b30;
    color: #fff;
    padding: 8px;
}
.content-wrap {
    padding-bottom: 107px;
}
.footer {
    background-color: #012b30;
    color: #fff;
    padding: 24px;
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Form related */
.authenticate-form {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.form-title {
    font-size: 135%;
    padding: 8px;
    display: flex;
    justify-content: center;
}

#client_secret, #client_url, #client_id {
    width: 250px;
    border: 1px solid #d8dcde;
    border-radius: 4px;
    background-color: transparent;
    padding: 0;
    min-height: 1em;
    height: 38px;
    padding: calc(10 / 14 * 1em) calc(16 / 14 * 1em);
}

/* Buttons */
.c-btn {
    display: inline-block;
    /* prettier-ignore */
    transition:
      border-color .25s ease-in-out,
      box-shadow .1s ease-in-out,
      background-color .25s ease-in-out,
      color .25s ease-in-out;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    text-decoration: none; /* [1] */
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: inherit; /* [2] */
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    border-color: transparent;
    background-color: #1f73b7;    ;
    color: #fff;
    padding: 0 calc(27 / 14 * 1em);
    height: 40px;
    line-height: 38px;
    width: 100%;
  }
  .c-btn:hover {
    border-color: transparent;
    background-color: #144a75;
    color: #fff;    
  }

/* Flash messages */
.error {
    background-color: #fff0f1;
    color: #681219;
    border: 1px solid #f5b5ba;
    border-radius: 4px;
    padding: 16px;
    margin: 8px;
    display: flex;
}
.error-svg {
    padding: 8px;
}

/* Index tickets list */
.tickets-list {
    width: 100%;
}

tr {
    border-bottom: 1px solid #d8dcde;
    height: 40px;
}

.tickets-list-indiv:hover {
    background-color: #edf7ff;
    cursor: pointer;
}

td, th {
    padding: 8px !important;
}

.ticket-status {
    border-radius: 4px;
    padding: 8px;
    display: flex;
    justify-content: center;
}
.ticket-status-open {
    background-color: #e34f32;
    color: #fff;
}
.ticket-status-new {
    background-color: #ffd424;
    color: #fff;
}
.ticket-status-pending {
    background-color: #3091ec;
    color: #fff;
}
.ticket-status-on-hold {
    background-color: #000;
    color: #fff;
}
.ticket-status-solved {
    background-color: #49545c;
    color: #fff;
}

/* Pagination */
.tickets-list-pagination {
    display: flex;
    justify-content: center;
    padding: 8px 12px;
}
.pagination-scroller{
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}
.pagination-scroller:hover {
    background-color: #e9ebed;
}

/* Ticket */
.ticket {
    border: 1px solid #d8dcde;
    padding: 16px;
    margin: 32px auto;
    width: 60%;
}
.ticket-header {
    border-bottom: 1px solid #d8dcde;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.ticket-body {
    padding-top: 16px;
}
#ticket-subject {
    font-size: 120%;
    font-weight: 600;
}
.ticket-tags {
    display: flex;
}
.ticket-tag {
    border-radius: 4px;
    background-color: #d8dcde;
    padding: 4px 8px;
    margin: 4px;
    opacity: 0.8
}
.ticket-back-btn-wrapper {
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
}
#ticket-back-btn {
    width: 10%;
    color: #1f73b7;
    background-color: transparent;
    border: 1px solid #1f73b7;
}
#ticket-back-btn:hover {
    background-color: #edf7ff;
}