{% extends "layout.html" %}
{% block content %}

<h3 class='list-title'>Ticket List</h3>
<table class='tickets-list'>
    <tr>
        <th>ID</th>
        <th>Subject</th> 
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
    </tr>
    {% for ticket in tickets %}
        <tr class='tickets-list-indiv' data-href="{{ url_for('displayTicket', ticketid=ticket.id) }}">
            <td><strong>{{ ticket.id }}.</strong></td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.updated_at[:-10] }}</td>
            <td>{{ ticket.updated_at[11:-1] }}</td>
            <td> <span class='ticket-status-{{ticket.status}} ticket-status'>{{ ticket.status }}</span></td>
        </tr>
    {% endfor %}
</table>

<div class='tickets-list-pagination'>
    {% if (tickets[0]['id'] != 1) and prev %}
        <a href="{{ url_for('listTickets', prev=prev) }}"><p>Prev</p></a>
    {% endif %}
    {% if (tickets[-1]['id'] != ticket_count) and next %}
    <a href="{{ url_for('listTickets', next=next) }}"><p>Next</p></a>
    {% endif %}
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach(row => {
        row.addEventListener ( "click", () => {
            window.location.href = row.dataset.href;
        });
    });
})

</script>

{% endblock %}